@media only screen and (min-width: 1025px){
  .day-container {
    width: 14.284%;
  }
  .mobilePadding {
    padding-top: 1px;
    padding-bottom: 1px;
  }
  .iconStyle {
    min-width: 15px;
    min-height: 15px;
  }
}

@media only screen and (max-width: 1024px) {
  .day-container {
    width: 33.33%;
  }
  .mobilePadding {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .iconStyle {
    min-width: 20px;
    min-height: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .day-container {
    width: 50%;
  }
  .mobilePadding {
    padding-top: 3px;
    padding-bottom: 3px;
  }
  .iconStyle {
    min-width: 20px;
    min-height: 20px;
  }
}